Source: fuse-umfuse-ext2
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Original-Maintainer: Debian VSquare Team <pkg-vsquare-devel@lists.alioth.debian.org>
XSBC-Original-Uploaders: Ludovico Gardenghi <garden@debian.org>, Guido Trotter <ultrotter@debian.org>, Filippo Giunchedi <filippo@debian.org>
Build-Depends: debhelper (>= 5), libfuse-dev, e2fslibs-dev, cdbs, zlib1g-dev | libz-dev, check, pkg-config
Vcs-Svn: svn://svn.debian.org/pkg-vsquare/fuse-umfuse-ext2/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-vsquare/fuse-umfuse-ext2/trunk/
Standards-Version: 3.9.3
Homepage: http://view-os.sourceforge.net
Section: misc

Package: fuseext2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fuse
Description: File System in User Space - Module for ext2
 This module for the FUSE kernel service allows any FUSE-enabled user to mount
 Second Extended file systems, e.g. disk images.
 .
 The module has been initially written for UMView, the user-mode
 implementation of View-OS. If you want to allow completely user-mode disk
 images mounting (with no kernel/superuser support at all), take a look at
 umview-mod-umfuseext2 and its dependencies.
